.navbar-brand {
    padding-left: 100px;
}

#navbarNav {
    display: flex;
    justify-content: space-evenly;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FF9F0D;
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.logo {
    transform: scale(3);
}