* {
    font-family: 'Poppins';
    font-size: 16px;
}

.fluid-container {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/ed/ab/87/outdoor.jpg?w=1400&h=800&s=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.text-black{
    font-size: 18px;
}
.error-container {
    position: relative;
    margin-bottom: 10px; 
}

.error-message {
    position: absolute; 
    top: -80px; 
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8d7da; 
    color: #842029; 
    border: 1px solid #f5c2c7;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    z-index: 10;
}
#layout {
    opacity: 0.9;
    /* background-color: rgba(255, 255, 255, 0.9); */
    border-radius: 8px;
    padding: 20px;
}   
.input-group-text i{
  color: black;
}

.text-final {
    color: #ffffff;
}

.input-group-text {
    background-color: #FFA500;
    font-size: 14px;
    color: #ffffff;
}

.btn-warning {
    background-color: #FFA500;
    border-color: #FFA500;
}

.btn-google {
    color: black;
    background-color: #ffff;

}

.btn-google img {
    margin-right: 8px;
}

.text-final a {
    color: #FFA500;
    text-decoration: none;
}

.text-final a:hover {
    text-decoration: underline;
}