* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/ed/ab/87/outdoor.jpg?w=1400&h=800&s=1');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    color: #ffffff;
}

#layout {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); */
}

.input-group-text {
    background-color: #FFA500;
    border: none;
    color: #ffffff;
}
.input-group-text i{
    color: black;
}

.form-control {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.form-control:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

.btn-warning {
    background-color: #FFA500;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #e59400;
    transform: translateY(-2px);
}

.btn-google {
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
}

.btn-google:hover {
    background-color: #f1f1f1;
    /* color: black; */
}
.btn-google img {
    margin-right: 8px;
    margin-top: -2px;

}
.text-final a {
    color: #FFA500;
    font-weight: bold;
    text-decoration: none;
}

.text-final a:hover {
    text-decoration: underline;
}

.alert {
    padding: 10px;
    background-color: #f44336; /* Màu đỏ */
    color: white;
    margin-bottom: 15px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}